@font-face {
  font-family: Custom;
  src: url('fonts/Orbitron-VariableFont_wght.ttf') format('truetype');
}


body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  nav {
    background-color: rgb(54, 103, 237);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 100px;
  
  }
  
  nav h1 {
    color: white;
    font-size: 36px;
    font-weight: bold;
    font-family:Custom;
    margin: 10;
    text-align: center;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  #image-input {
    margin-bottom: 10px;
  }
  #uploaded-image, #uploaded-video {
    max-width: 100%;
    margin-bottom: 10px;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: calc(50% - 20px);
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .column h2 {
    margin-top: 0;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .column input[type="file"] {
    margin-bottom: 30px;
  }
  
  .column img {
    max-width: 100%;
    margin-bottom: 10px;
  }
  
  .column video {
    max-width: 100%;
    margin-bottom: 10px;
  }
  
  .column p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
  }

  .button-3 {
    background: rgb(54, 103, 237);
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter,Helvetica;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 18px 36px;
    width: fit-content;
    border: 0;
    


  }
.button-3:hover {
    background-color: #1220b4;
  }
